$themeColor: #2c7fff;
.Header{
	height: 60px;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1000;
	-webkit-box-shadow: 0 2px 8px #f0f1f2;
	box-shadow: 0 2px 8px #f0f1f2;
	.bar-menu{
		height: 100%;
		//display: flex;
		//align-items: center;
		line-height: 60px;
		background-color: #4391c8;
		.menuctrl{
			margin-left: 24px;
			.slide-icon{
				color: #fff;
				cursor: pointer;
				font-size: 18px;
			}
		}
		.rmenu{
			float: right;
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			.avatar{
				height: 100%;
				//border-right: 1px solid #494949;
				display: flex;
				justify-content: center;
				align-items: center;
				//padding-right: 20px;
				.user{
					color: #444;
					font-size: 14px;
				}
				.pic{
					border-radius: 50%;
					width: 24px;
					height: 24px;
					margin-left: 18px;
					cursor: pointer;
					will-change: auto;
					transition: all .6s ease-in-out;
					&:hover{
						transform: rotate(360deg);
					}
				}
			}
			.sys-msg{
				width: 58px;
				height: 100%;
				cursor: pointer;
				//border-right: 1px solid #494949;
				//border-left: 1px solid #222;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.sys-exit{
				width: 22px;
				height: 100%;
				margin-right: 24px;
				cursor: pointer;
				//border-left: 1px solid #222;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}