.TodayPatientList{
    position: fixed;
    left: 10px;
    top: calc(60px + 10px);
    z-index: 1;
    .today-title{
        text-align: center;
        color: #444;
    }
    .list-ctrl{
        margin-top: 14px;
        background-color: #fff;
        border-radius: 6px;
        padding: 0 14px 14px 14px;
        .pageStyle{
            padding-top: 14px;
            border-top: 1px solid #e8e8e8;
        }
    }
}